@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 215 25% 27%;
    --card: 210 20% 98%;
    --card-foreground: 215 25% 27%;
    --popover: 210 20% 98%;
    --popover-foreground: 215 25% 27%;
    --primary: 262 80% 50%;
    --primary-foreground: 210 20% 98%;
    --secondary: 262 80% 90%;
    --secondary-foreground: 262 80% 30%;
    --muted: 210 20% 94%;
    --muted-foreground: 215 25% 55%;
    --accent: 262 80% 95%;
    --accent-foreground: 262 80% 40%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 20% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 262 80% 50%;
    --chart-1: 262 80% 50%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 210 20% 98%;
    --card: 215 28% 17%;
    --card-foreground: 210 20% 98%;
    --popover: 215 28% 12%;
    --popover-foreground: 210 20% 98%;
    --primary: 262 80% 70%;
    --primary-foreground: 262 80% 10%;
    --secondary: 262 80% 20%;
    --secondary-foreground: 262 80% 90%;
    --muted: 215 28% 22%;
    --muted-foreground: 210 20% 80%;
    --accent: 262 80% 25%;
    --accent-foreground: 262 80% 90%;
    --destructive: 0 63% 40%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 25%;
    --input: 215 28% 25%;
    --ring: 262 80% 70%;
    --chart-1: 262 80% 70%;
    --chart-2: 210 40% 98%;
    --chart-3: 220 48% 70%;
    --chart-4: 43 74% 66%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
